@using ViewLayer.Models;
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Приём заказа";
    }



<form style="margin: 0 auto; width:450px; text-align: center;" method="post">
    <h1 style="padding-bottom: 20px;">Форма приёма заказа</h1>
    <ul>
    <li><input name="CityOfSender"  required placeholder="Введите город отправления"/></li>
    <li><input name="AdressOfSender"  required placeholder="Введите адрес отправления"/></li>
    <li><input name="CityOfRecepient"  required placeholder="Введите город получателя"/></li>
    <li><input name="AdressOfRecepient"  required placeholder="Введите адрес получателя"/></li>
    <li><input type="number" name="GoodsWeight"  required placeholder="Введите вес груза"/></li>
    <li><input type=date name="DeliveryDate"  required placeholder="Введите дату забора груза"/></li>
    <button style="margin-top:20px;">Принять заказ</button>
    </ul>
</form>


<div style="margin: 0 auto; width:450px; text-align: center;">
    <h2>Принятые заказы:</h2>
        <table>
        <tr>
            <td>Номер заказа</td>
            <td>Город отправления</td>
            <td>Адрес отправления</td>
            <td>Город получателя</td>
            <td>Адрес получателя</td>
            <td>Вес груза</td>
            <td>Дата забора груза</td>
            <td></td>
        </tr>
        @foreach (var order in Model)
            {
            <tr>
                <td>@order.Id</td>
                <td>@order.CityOfSender</td>
                <td>@order.AdressOfSender</td>
                <td>@order.CityOfRecepient</td>
                <td>@order.AdressOfRecepient</td>
                <td>@order.GoodsWeight</td>
                <td>@order.DeliveryDate</td>
            </tr>
        }
    </table>
    
</div>